<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="script.js"></script>
    <link href="style.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <form>
        <h2>Create new shop:</h2>
        <input type="text" placeholder="Shop name" id="shopName">
        <input type="button" name="shopName" value="Create" onclick="saveShop()" />
    </form>
    <h3 style="margin-top: 15px">List of shops</h3>
    <p style="font-size: 0.9rem">(for view products click on shop)</p>
    <div id="shopsContainer"></div>
</div>

<div class="container">
    <form>
        <h2>You can add new product to shop:</h2>
        <h5>Select shop: <span id="shopSelect"></span></h5>
        <h5>Product: <input type="text" placeholder="Product name" id="productName">
            <input type="button" name="productName" value="Add" onclick="saveProduct()" />
        </h5>
    </form>
</div>
</body>

</html>
